/** _global.scss */

/** colores */
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$titulo: #4a4a4a;
$sub-titulo: #67b54b;
$tiempo-lectura: #979797;

/** fuentes */
$font-title: "Alegreya",
serif;

/** placeholders */
%base-title {
    font-family: $font-title;
    color: $dark-green-text;
}