main{
    .encabezado{
        text-align: center;
    }

    .cards{
        display: flex;
        margin: 5% 3%;
        .card{
            width: 35%;
            text-align: center;
            padding-bottom: 2%;
            margin: 0% 1%;
            border: none;

            img{
                max-width: 100%;
                border-radius: 10px;
            }
            
            a{
                text-decoration: none;
            }

            .card-title{
                margin: 4% auto;
                color: #025157;
                transition: color .3s ease-in-out;
            }

            .card-title:hover{
                color: #67b54b;

                
            }
            .card-content{
                font-size: 90%;
            }
        }
    }
}