* {
  font-family: "Lato", sans-serif;
}

#flex-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

.header {
  margin: 0px 20px;
  font-size: 0;
  font-family: sans-serif;
  background-color: white;
}

.header li {
  display: inline;
  margin: 0px 15px;
  color: #025157;
}

.nav-item {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  line-height: 45px;
  height: 100%;
}

#logo-matcha {
  width: 15%;
}

#logo-marcha > img {
  width: 15%;
}

.navbar {
  width: 100%;
  text-align: center;
  color: #025157;
  font-weight: 500;
  line-height: 45px;
}

.actions {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

#logo-matcha {
  width: 4%;
  /*
  margin:0% 1%;
  */
}

.actions > a {
  color: #67b54b;
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
}

.actions > button {
  background-color: #67b54b;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 14px;
  color: white;
}

body {
  background-color: #fffbf7;
  padding: 0%;
  margin: 0%;
}

main {
  margin: 285px 0 0 0;
}

#titulo {
  text-align: center;
}
#titulo > h1 {
  font-size: xx-large;
}
#titulo-figure > img {
  width: 80%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form > input {
  width: 20%;
  padding: 10px;
  border: 0.5px solid gray;
  border-radius: 5px 0px 0px 5px;
}

form > button {
  width: 15%;
  padding: 10px;
  border: 1px solid #025157;
  border-radius: 0% 5px 5px 0px;
}

.texto-boton:hover{
  background-color: #67b5b4;
}

button {
  background-color: #025157;
  color: #fff;
}

#debajo-titulo {
  color: #46484c;
}

.promocional {
  color: #8b8b8bcc;
}

h1 {
  color: #025157;
}

#prom-p {
  color: #343434;
}

#video-prom > article > h2 {
  color: #025157;
}

#video-prom {
  display: flex;
  margin: 100px auto;
  width: 70%;
  align-items: center;
}

#prom {
  margin-left: 3%;
}

#videos-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#videos-flex > img {
  width: 15%;
}

.features {
  display: flex;
  flex-wrap: wrap;
  /*
  display: grid;
  grid-template: repeat(2,1fr)/repeat(2,1fr);
  */
  height: 80%;
  background-color: #025157;
  padding: 4% 9%;
}

.features > article {
  background-color: white;
  margin: 2%;
  border-radius: 10px;
  display: flex;
  width: 46%;
}

.feature-contenido {
  margin: 8% 0% 3% 8%;
}

.feature-title {
  font-weight: 400;
}

.feature-p {
  font-weight: 300;
}

.feature-link {
  text-decoration: none;
  color: #67b54b;
  font-weight: 400;
}

.feature-imagen {
  margin-left: 10%;
}

#grow-ecommerce {
  display: flex;
  background-color: #a1d683;
  padding: 5% 15%;
  height: 100vh;
}

#cont-ecommerce {
  padding-right: 5%;
  padding-top: 3%;
}

#grow-titulo {
  color: #025157;
  font-size: xx-large;
}

#grow-boton {
  border: none;
  padding: 2%;
  border-radius: 10px;
}

#grow-marcas >img{
  margin: 10% 0%;
  width: 80%;
}

#barra-lateral {
  background-color: white;
  border-radius: 10px;
  height: 80vh;
  width: 100%;
}

.carousel-inner{
  border-radius: 10px;
}

#barra-img-contenedor {
  height: 5%;
  background-color: #343434;
}

.barra-contenido {
  padding: 1% 3%;
}

.barra-marca {
  color: #025157;
  margin-top: 5%;
  font-size: 90%;
}
.barra-titulo{
  font-size: 100%;
}

.barra-carrito{
  display: flex;
}

.barra-carrito>img{
  width: 10%;
  height: 10%;
  margin: 10%;
}

.barra-carrito > p {
  color: grey;
  width: 50%;
  font-size: 80%;
  text-align: justify;
}

.barra-boton {
  border: none;
  padding: 2%;
  border-radius: 5px;
  margin: 10% 15% 45% 15%;
  width: 70%;
  padding: 5% 10%;
  font-weight: bold;
}

#hwork-head {
  text-align: center;
  margin: 0% 25%;
}

#hwork-head > h2 {
  color: #025157;
  margin-top: 10%;
  font-size: xx-large;
}

#hwork-head > p {
  margin-bottom: 5%;
}

#hwork-head > #grow-boton {
  padding: 2.5%;
  font-size: small;
  margin-bottom: 5%;
  font-weight: 600;
}

#hwork-cards {
  display: flex;
  padding: 5% 10%;
  height: 80vh;
}

#hwork-cards > .card {
  border: 1px rgb(189, 186, 186) solid;
  border-radius: 5px;
  margin: 0% 1%;
  width: 25%;
}

.hwork-card-img {
  height: 60%;
}

.card > h3 {
  text-align: center;
  color: #025157;
}

.card > p {
  margin: 0% 10%;
  font-size: 15px;
  line-height: 1.5;
  color: #46484c;
  font-weight: 400;
}

.card > a {
  display: block;
  margin: 10% 10%;
}
